<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Edit Creature</h1>
      <form class="form-horizontal center" role="form">
        <%= form_for @creature do |f| %>
          <%= f.text_field :name, class: "form-control" %><br>
          <%= f.text_area :description, class: "form-control" %><br>
 
          <%= f.submit "Update Changes" %><br>
        <% end %>
      </form>
    </div>
  </div>
</div>